<div id="footer">
    <div class="footer-column first-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">О НАС</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Партнеры</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Волонтеры</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Миссия</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">МЫ ПОМОГАЕМ</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Детям сиротам</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Кризисным семьям</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Социальная адаптация</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Инвалидам</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Лагеря</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">НОВОСТИ</a>
            </li>
            <li class="footer-main-text">
                <a href="#" class="green">ГАЛЕРЕЯ</a>
            </li>
            <li class="footer-main-text">
                <a href="/ru/home/contacts" class="green">КОНТАКТЫ</a>
            </li>
            <li class="footer-main-text">
                <a href="#" class="green">ПОДДЕРЖКА</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="/ru/home/contacts" class="gray">КОНТАКТЫ</a>
            </li>
            <li class="footer-text gray">
                г.Киев 02081<br/>ул.Сортировочная д.5а
            </li>
            <br />
            <li class="footer-text gray">
                opendoorsfund@gmail.com
            </li>
        </ul>
    </div>
</div>
<div id="footer-links">
    <div id="fund-text" class="footer-main-text gray">
        МБФ "Открытые двери"
    </div>
    <div id="urban-family">
        Made by <a href='@Url.Content("http://urbanf.org")' class="green footer-main-text">UF</a>
    </div>
</div>
