html{
    min-width: 992px;
}
body{
    top: 0;
    position: page;
    right: 0px;
}
html,body{
	margin: 0px;
	padding: 0px;
	width: 100%;
  }
.left-panel{
    position: fixed;
    float: left;
    z-index: 5;
    background-color: aqua;
    width: 100px;
    height: 100%;
    top: 0px;
}
.left-tmp{
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100px;
    position: absolute;
}
.site-body{
    width: 100%;
    height: 100%;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.drop-down {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 40px;
  left: 30px;
}
.drop-down-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  width: 100%;
}
.drop-down-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
}
.drop-down-text,
.drop-down-content a {
  color: #333;
  background-color: transparent;
}
.drop-down-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  padding-left: 15px;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 25px;
  width: 100%;
}
.drop-down-toggle:focus {
  outline: 0;
}
.drop-down-content {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  width: 40px;
}
.drop-down-content a {
  display: block;
}
/*.drop-down-content a:hover {
  background: #e8e8e8;
}*/
.drop-down-toggle:hover ~ .drop-down-text,
.drop-down-toggle:focus ~ .drop-down-text {
  background-color: transparent;
}
.drop-down-toggle:focus ~ .drop-down-text {
  z-index: 2;
}
.drop-down-toggle:focus ~ .drop-down-text:after {
  background-color: transparent;
}
.drop-down-content:hover,
.drop-down-toggle:focus ~ .drop-down-content {
  opacity: 1;
  visibility:visible;
  top: 25px;
  background-color: transparent;
  
}
.logo-div{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    max-height: 50%;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}


/*show-lang animation*/
@-webkit-keyframes show-lang { 
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }  
    100% { opacity: 1; -webkit-transform: none; transform: none; } 
}
@-moz-keyframes show-lang { 
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } 
    100% { opacity: 1; -webkit-transform: none; transform: none; } 
}
@-ms-keyframes show-lang { 
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } 
    100% { opacity: 1; -webkit-transform: none; transform: none; } 
}
@-o-keyframes show-lang { 
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } 
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@keyframes show-lang { 
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } 
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}

/*#tmp{
    padding-top: 50px;
    position:absolute;
    -webkit-transition: top 3s, transform 3s ease 0s;
    -moz-transition: top 3s, transform 3s ease 0s;
    transition: top 3s, transform 3s ease 0s;
    top: 50px;
    height: 30px;
    width: 30px;
    background-color: red;
}
#tmp:hover{
    top: 150px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

.top-footer{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: beige;
    z-index: 2;
}

.spinner-master2 * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}
.spinner-master2 {position:relative;margin:40px auto; top: 10px; height:30px;width:30px;}
.spinner-master2 input[type=checkbox] {display:none;}
.spinner-master2 label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}
.spinner-master2 .spinner2 {position:absolute;height:4px;width:100%;background-color:#000;}
.spinner-master2 .diagonal.part-1 {position:relative;float:left;}
.spinner-master2 .horizontal {position:relative;float:left;margin-top:7px;}
.spinner-master2 .diagonal.part-2 {position:relative;float:left;margin-top:6px;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {opacity: 0;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:10px;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-top:-16px;}



@media (min-width: 0px) and (max-width: 1024px){
    
}
@media (min-width: 1025px) {
    
}

