<div id="footer">
    <div class="footer-column first-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">About</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Partners</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Volunteers</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Mission</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">Helping</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Orphans</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">At-risk families</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Social adaptation</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Limited abilities</a>
            </li>
            <li class="footer-text">
                <a href="#" class="green">Camps</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="#" class="green">News</a>
            </li>
            <li class="footer-main-text">
                <a href="#" class="green">Gallery</a>
            </li>
            <li class="footer-main-text">
                <a href="/en/home/contacts" class="green">Contacts</a>
            </li>
            <li class="footer-main-text">
                <a href="#" class="green">Support</a>
            </li>
        </ul>
    </div>
    <div class="footer-column">
        <ul class="footer-text-container">
            <li class="footer-main-text">
                <a href="/en/home/contacts" class="gray">Contacts</a>
            </li>
            <li class="footer-text gray">
                5a Sortuvalna, Kyiv city, 02081
            </li>
            <br />
            <li class="footer-text gray">
                opendoorsfund@gmail.com
            </li>
        </ul>
    </div>
</div>
<div id="footer-links">
    <div id="fund-text" class="footer-main-text gray">
        Open Doors
    </div>
    <div id="urban-family">
        Made by <a href='@Url.Content("http://urbanf.org")' class="green footer-main-text">UF</a>
    </div>
</div>
