@if (Html.IsMobileOrTablet(Request))
{
    @*@{*@
ViewBag.Title = "Contacts Opendoors";
Layout = "~/Areas/en/Views/Shared/_MobileLayout.cshtml";
//}
    @section styles{
        <link rel="stylesheet" type="text/css" href="~/Content/Mobile/Contacts/contacts.min.css" />
    }
    <div class="page-title">
        Contacts
    </div>
        <div id="image"></div>
        <div id="content-body" class="marg-top">
            <div class="intro color-gray height">Email: opendoorsfund@gmail.com</div>
            <div class="intro color-gray">Registered address:</div>
            <div class="opensans-semibold height">5a Sortuvalna, Kyiv city, 02081</div>
            <div class="intro color-gray">You can make a donation using the following details:</div>
            <div class="opensans-semibold">UNTERMIDIATE BANK OF BENEFICIARY’S BANK:</div>
            <div class="opensans-semibold">THE BANK OF NEW YORK MELLON, NEW YORK, USA</div>
            <div class="opensans-semibold">SWIFT: IRVTUS3N</div>
            <div class="opensans-semibold height">Correspondent  account: USD 8900260947</div>
            <div class="opensans-semibold">BANK OF BENEFICIARY:</div>
            <div class="opensans-semibold">29 KOVPAKA STR., KIEV, UKRAINE</div>
            <div class="opensans-semibold">SWIFT: UKRSUAUX</div>
            <div class="opensans-semibold">FOR TROESHINSKY  BRANCH </div>
            <div class="opensans-semibold height-not-required">77 MAYAKOVSKOGO PR., KIEV, UKRAINE</div>
            <div class="opensans-semibold">Beneficiary: Name: MBF VIDKRITY DBERY</div>
            <div class="opensans-semibold">Account: № 26007011431817</div>
            <div class="opensans-semibold height">Address:  5А Sortuvalna str.,Kiev, Ukraine</div>
            <div class="intro color-gray">Follow us:</div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://www.facebook.com/opendoorsfund">Facebook</a></div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://vk.com/opendoorsukraine">VK</a></div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://www.youtube.com/channel/UCM5h8RAS_S2V6dgAxrquYUw">Youtube</a></div>
        </div>
}
else
{
    ViewBag.Title = "Contacts";
    Layout = "~/Areas/en/Views/Shared/_SecondLayout.cshtml";
@section renderStyles{
    <link href="~/Content/contacts/contacts.min.css" rel="stylesheet" />
}
<div id="body-row">
    <div id="image">
    </div>
    <div id="contacts-row">
        <div id="header">
            <div id="bread-crumbs">
                <div id="crumbs-main-en">
                    <div id="rhomb"></div>
                    <a class="opensans-semibold link" href="/en/home/main">MAIN</a>
                    <div class="underline"></div>
                </div>
                <br />
                <div id="crumbs-contacts" class="opensans-semibold static-text">
                    CONTACTS
                </div>
            </div>
            <div id="header-title">
                CONTACTS
            </div>
        </div>
        <div id="content-body">
            <div class="intro color-gray height">Email: opendoorsfund@gmail.com</div>
            <div class="intro color-gray">Registered address:</div>
            <div class="opensans-semibold height">5a Sortuvalna, Kyiv city, 02081</div>
            <div class="intro color-gray">You can make a donation using the following details:</div>
            <div class="opensans-semibold">UNTERMIDIATE BANK OF BENEFICIARY’S BANK:</div>
            <div class="opensans-semibold">THE BANK OF NEW YORK MELLON, NEW YORK, USA</div>
            <div class="opensans-semibold">SWIFT: IRVTUS3N</div>
            <div class="opensans-semibold height">Correspondent  account: USD 8900260947</div>
            <div class="opensans-semibold">BANK OF BENEFICIARY:</div>
            <div class="opensans-semibold">29 KOVPAKA STR., KIEV, UKRAINE</div>
            <div class="opensans-semibold">SWIFT: UKRSUAUX</div>
            <div class="opensans-semibold">FOR TROESHINSKY  BRANCH </div>
            <div class="opensans-semibold height-not-required">77 MAYAKOVSKOGO PR., KIEV, UKRAINE</div>
            <div class="opensans-semibold">Beneficiary: Name: MBF VIDKRITY DBERY</div>
            <div class="opensans-semibold">Account: № 26007011431817</div>
            <div class="opensans-semibold height">Address:  5А Sortuvalna str.,Kiev, Ukraine</div>
            <div class="intro color-gray">Follow us:</div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://www.facebook.com/opendoorsfund">Facebook</a></div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://vk.com/opendoorsukraine">VK</a></div>
            <div class="opensans-semibold"><a class="social-lincs-contacts" href="https://www.youtube.com/channel/UCM5h8RAS_S2V6dgAxrquYUw">Youtube</a></div>
            <div class="intro color-gray">Many thanks you for your support!</div>
        </div>
    </div>
</div>
}
