
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}

<h2>En Index</h2>
<div class="col-lg-offset-3 col-lg-9">
    @Html.ActionLink("russian", "Index", "Home", new { area = "ru" }, null)<br />
    
</div>
@for(int i = 0; i < 10; ++i)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span>AAAAAAAAAAAAAAAAbbbbbbbbbbb  ksjdfkjsdfksjfdsfksjfdksdffsfhsdfjshfjsf</span><br />
                <span>cdslkseklsfjsdcnsnksdssldnksnjsdjcnksdjhskjdhcskdcjnskcskjdbksjdsjkdk</span>
            </div>
        </div>
    </div>
}
