@model IEnumerable<OpenDoors.EntityDb.Data.Slider>
@{
    ViewBag.Title = "Main";
    Layout = "~/Areas/ru/Views/Shared/_NewLayout.cshtml";
}
@section styles{
    <link href="~/Content/main-page-style.min.css" rel="stylesheet" />
    <link href="~/Content/main/main-carousel.min.css" rel="stylesheet" />
    <link href="~/Content/main/volunteer-images.min.css" rel="stylesheet"/>
}
<div class="carousel">
    @foreach (var slider in Model)
    {
        Html.RenderPartial("_CarouselPartialView", slider);
    }
    <div class="slider-buttons">
        <div class="positionize-square-left">
            <div class="left-arrow-block" onclick="SliderArrow('left')">
                <div class="left-arrow diamond-square">
                    <div class="left-arrow left-arrow-line"></div>
                </div>
            </div>
        </div>

        <div class="page-numbers">
            <div class="page-number" onclick="SlideToNumber(0)">01</div>
            <div class="page-number" onclick="SlideToNumber(1)">02</div>
            <div class="page-number" onclick="SlideToNumber(2)">03</div>
            <div class="page-number" onclick="SlideToNumber(3)">04</div>
        </div>
        <div class="positionize-square-right">
            <div class="right-arrow-block" onclick="SliderArrow('right')">
                <div class="right-arrow right-arrow-line"></div>
                <div class="right-arrow right-square right-square"></div>
            </div>
        </div>
    </div>
</div>
<div class="volunteer-box">
    <div class="center">
        <div class="volunteer-info" onclick="VolunteerPage()">
            <span>КАК СТАТЬ</span><br />
            <span>ВОЛОНТЕРОМ?</span><br />
            <div class="volunteer-line"></div>
        </div>
        <div cass="volunteer-image-block">
            <img src="/Content/Images/Main/main_small.jpg" class="volunteer-image" onclick="VolunteerPage()"/>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ru/main/Main-carousel.min.js"></script>
    <script src="~/Scripts/ru/main/volunteer-image.min.js"></script>
}


